/**
 * Base Styles
 */
html {
	font-size: 112.5%;
}

body {
	background-color: #f0f0f0;
	color: $color-body-text;
	line-height: 1.66667;
	text-rendering: optimizeLegibility;
	@include font-smooth();
}

@each $style in map-keys($theme-styles) {
	$style-suffix: "#{$style}";
	$fonts: map-deep-get($theme-styles, $style, "fonts");
	@each $font, $stack in $fonts {
		$font-suffix: "#{$font}";
		.style-#{$style-suffix} {
			&.font-#{$font-suffix} {
				font-family: $stack;
			}
		}
	}
}

@font-face {
  font-family: "Soehne";
  src: url("../fonts/soehne-web-buch.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Soehne";
  src: url("../fonts/soehnewebbuchkursiv.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Soehne Mono";
  src: url("../fonts/soehne-mono-test-buch.woff") format("woff");
  font-weight: 400;
  font-style: Normal;
}

@font-face {
  font-family: "Soehne";
  src: url("../fonts/soehne-web-halbfett.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "tobias";
  src: url("../fonts/Tobias-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PolySans";
  src: url("../fonts/PolySansNeutral.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

$font-family-header: 'PolySans', BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-family-body: "PolySans", 'Helvetica', -apple-system, BlinkMacSystemFont, sans-serif;

$font-family-mono: "tobias";


a {
	color: #0fc;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    letter-spacing: -.015em;
    hyphens: auto;
    box-sizing: border-box;
    border-width: 0;
    /*border-style: solid;*/
    border-color: currentColor;
    margin: 0;
    display: inline-block;
    margin-bottom: 1em;
    padding-bottom: .25em;
    font-weight: 600;
    border-bottom-width: 8px;
    font-size: 5rem;
    font-family: $font-family-body;
    color: $gray;
    


	&:first-child {
		margin-top: 0;
	}

     &::selection {
    background-color: $teal;
    }

	a {
		color: inherit;
		text-decoration: none;
	}
}

h1 {
    font-size: calc( 36px + (108 - 36) * ( 100vw - 400px ) / (2500 - 400) );
    line-height: 1.025;
}

h2 {
    font-size: calc( 28px + (72 - 28) * ( 100vw - 400px ) / (2500 - 400) );
}

h3 {
    font-size: calc( 24px + (48 - 24) * ( 100vw - 400px ) / (2500 - 400) );
}

h4 {
    font-size: calc( 24px + (48 - 24) * ( 100vw - 400px ) / (2500 - 400) );
}

h5 {
    font-size: calc( 24px + (48 - 24) * ( 100vw - 400px ) / (2500 - 400) );
}

h6 {
    font-size: calc( 24px + (48 - 24) * ( 100vw - 400px ) / (2500 - 400) );
}

mark,
ins {
	background-color: $color-highlight-bg;
	color: $color-highlight-text;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

blockquote {
	margin: 0 0 1em;
	padding: 0 0 0 2.22222em;
	position: relative;
    font-family: $font-family-mono;

	&:before {
		color: currentColor;
		content: "\201C";
		font-size: 2.66667em;
		left: 0;
		line-height: 1;
		position: absolute;
		top: 0;
	}
}

pre {
	border: 1px solid $color-code-border;
	font-size: 0.88889em;
	line-height: 1.5;
	margin: 0 0 1em;
	overflow: auto;
	padding: 1.5em;
	white-space: pre;
}

.style-classic {
	pre {
		background-color: $color-code-bg;
		border-radius: 6px;
	}
}

.style-bold {
	pre {
		background-color: $color-bold-code-bg;
		border-width: 2px;
	}
}

p {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    letter-spacing: -.015em;
    font-size: calc( 21px + (24 - 17) * ( 100vw - 400px ) / (2500 - 400) );    hyphens: auto;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    margin: 0;
    margin-bottom: 1.25em;
    
    &::selection {
    background-color: $teal;
}
}

p,
ul,
ol {
	margin: 0 0 1em;
    font-family: $font-family-body;
    font-size: calc( 20px + (24 - 17) * ( 100vw - 400px ) / (2500 - 400) );    hyphens: auto;


}

ul,
ol {
	padding: 0 0 0 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}
dd {
	margin-left: 0;
}

hr {
	background-color: $color-hr-border;
	border: 0;
	color: inherit;
	height: 1px;
	margin: 1.11111em 0;

	&:first-child {
		margin-top: 0;
	}
}

.style-bold {
	hr {
		height: 2px;
	}
}

/* Media */
embed,
iframe,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

.style-classic {
	.site-content {
		img {
			border-radius: 6px;
		}
	}
}

figure {
	margin: 0 0 1em;
}

figcaption {
	color: $color-meta;
	font-size: 0.88889em;
	text-align: left;
}

@include media-breakpoint-down(sm) {
	h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    -webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
    letter-spacing: -.015em;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    margin: 0;
    font-weight: 600;
    display: inline-block;
    /*font-size: 2.5rem;*/
    line-height: 1;
    margin-bottom: .5rem;
	}

p {
        -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: -.015em;
    hyphens: auto;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    margin: 0;
    margin-bottom: 1.25em;
}

	html {
		font-size: 100%;
	}
}
