/**
 * Menus
 */
.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu__item {
	color: $gray;
	line-height: 1;
    font-family: $font-family-header;
    font-weight:600;

	a {
		font-size: 0.88889em;
	}

	a:not(.btn) {
		color: $gray;
		display: inline-block;
		position: relative;
		text-decoration: none;
	}

	a:not(.btn):hover,
	&.is-active a {
		text-decoration: underline;
        color: $orange;
	}
}